.hover-img, .hover-txt{
	pointer-events: none;
	position: relative;
	opacity: 0;
	z-index: -1;
}
.image-column .hover-img, .image-column .hover-txt{
	pointer-events: auto;
	position: relative;
	opacity: 1;
	z-index: 0; 
}
#small-artist-header, #small-client-header{
	flex-basis: 20%;
}
.ac-spacer h1{
	position: fixed;
}
.client-three-image-column{
	margin-top:var(--spacing-24);
}
.image-column .hover-txt{
	display: none;
}
.hover-img video{
	max-width: 100%;
}
.hover-img img{
	max-width: 100%;
}
.text-column .client-project-list{
  font-family: var(--font-heading);
  font-size: var(--fontSize-6);
  letter-spacing: -0.05em;
}
.client-project-list{
/*  font-family: var(--font-heading);
  font-size: var(--fontSize-6);*/
  
  margin:0;
  line-height: var(--lineHeight-none);
}
.client-project-list a{
	text-decoration: none;
}
.image-column .hover{
	pointer-events: auto;
	position: relative;
	width:200px;
	left:0;
	margin:0;
	display: block;
}
.image-column .hover-img > div{
	width:100%;
	float:none;
}
.client-project{
	text-decoration: none;
}
.text-column .client-project:hover .hover-img, .selected-artists li:hover .hover-img, .selected-clients li:hover .hover-img, .selected-artists li:hover .hover-txt, .selected-clients li:hover .hover-txt {
	opacity: 1;
}
.selected-artists a, .selected-clients a{
	text-decoration: none;
}
.selected-artists .more-info, .selected-clients .more-info{
	text-decoration: underline;
	font-family: var(--font-body);
  	font-size: var(--fontSize-1);
  	font-weight: normal;
}
.text-column .client-project:hover .media-item, .text-column .client-project:hover .hover-img, .artists-clients.text-column li:hover .hover-img, .artists-clients.text-column li:hover .hover-img .media-item{
	opacity:1;
	display: block;
}
.artists-clients.image-column .hover {
	width: 100%;
}
.hover{
	pointer-events: none;
	position: fixed;
	width:100vw;
	left:0;
	margin:0 auto;
	display: flex;
	z-index: -1;
}
.client-three-image-column a.portrait{
   width:33.333%;
}
.client-three-image-column a > *{
	width: 100%;
}
.client-three-image-column a.landscape{
   width:100%;
}
.text-column .media-item{
	display: none;
}
.three-column .txt-item{
	display: none;
}
.text-column .txt-item{
	display: block;
}
.with{
	text-decoration: underline;
}
.with-text a{
/*	text-decoration: none;
	color: var(--color-text-light);*/
}
.text-column a{
	width: 100%;
	position: relative;
}
.client-three-image-column a{
	position: relative;
}
.client-three-image-column a:hover .client-project-list{
	opacity: 1;
}
.text-column .client-project:hover .hover-img > div{
	width: 50vw;
}
.text-column .client-project:hover .media-item{
	width: 30%;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
    top: 100px;
    position: fixed;
}
.client-three-image-column a .client-project-list{
	opacity: 0;
	background: var(--color-text-light);
	position: absolute;
	left: 3px;
    top: 3px;
    width: calc(100% - 6px);
	height: calc(100% - 6px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:white;
}
.client-project-list{
	text-align:left;
	display: block;
	margin: 0 auto;
  width: 85%;
  padding-left: 52.5%;
}
.hover-txt{
	flex-basis:33%;
	text-align: center;
	align-self: center;
}
.hover-img{
	flex-basis:66%;
	text-align: right;
	align-self: center;

}
.text-column.artists-clients .hover-img{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-55%, -50%);
}
.artists-clients .hover-txt{
	position: fixed;
	top: 50%;
	right: var(--spacing-8);
	transform: translate(0%, -50%);
}
.ac-header{
	    height: 0;
    z-index: 9;
    position: relative;

}
.text-column .client-project:hover .hover-txt{
	right: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    width: 25%;
}
.hover-img > div{
	width: 85%;
	float: right;
}
.text-column.project-media-container.client-media-container{
	top: 5px;
    position: relative;
    width: 50%;
    left: 20%;
    margin-top: 0;
    min-height: 57vh;
    display: inline-block;
    align-items: start;
    justify-content: flex-start;
}
.text-column.project-media-container.client-media-container + .project-footer h1{
	display: none;
}
.letter-label{
	position:relative;
	left: -2rem;
	height:0;
}
.ac-page.artists-clients{
	margin-top:0;
}
.selected-artists .more-info.mobile,.selected-clients .more-info.mobile{
	display: none;
}
.project-footer .desktop-only{
	display: inline-block;
}
.project-footer .mobile-only{
	display: none;
}
@media (max-width: 42rem) {
	.artists-clients{
		flex-direction: column;
	}
	.project-footer .desktop-only{
		display: none;
	}
	.project-footer .mobile-only{
		display: inline-block;
	}
	.selected-clients, .selected-artists{
		margin-bottom:var(--spacing-8);
	}
	.selected-clients ol, .selected-artists ol{
		padding:0;
	}
	.ac-page .selected-clients ol,.ac-page .selected-artists ol{
		padding-left:30%;
		margin-top:40px;
	}
	.ac-page .selected-clients h1,.ac-page .selected-artists h1{
		margin-bottom:var(--spacing-4);
	}
	.letter-label{
	    font-size:var(--fontSize-6);
		font-family: var(--font-heading);
		left: -6.3rem;
	}
	.selected-artists .letter-label{
		left: -6rem;
	}
	.selected-artists .more-info,.selected-clients .more-info{
		display: none;
	}
	.selected-artists .more-info.mobile,.selected-clients .more-info.mobile{
		display: inline-block;
	}
	.ac-page .selected-clients, .ac-page .selected-artists{
		flex-direction: column;
	}
	.selected-clients li a, .selected-artists li a{
		font-size:var(--fontSize-6);
		font-family: var(--font-heading);
	}
	.artists-clients .more-info{
		left:0;
		right:auto;
	}
	.text-column.project-media-container.client-media-container{
		top:0;
	}
	.client-three-image-column a{
		width: 50%;
		text-decoration: none;
	}
	.client-three-image-column a.portrait{
		width: 50%;
	}
	.client-three-image-column a.landscape,.client-three-image-column a.square{
		width: 100%;
	}
	#homepage-wrapper .artists-clients > * > h1 {
	    flex-basis: calc(63% - 45px);
	    padding-right: 45px;
	}
	.client-three-image-column a .client-project-list{
		opacity: 1;
		display: block;
		position: relative;
		color:var(--color-text);
		height:auto;
		width:auto;
		background: transparent;
		text-decoration: none;
	}
}