.blog-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--spacing-10);
}
.blog-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: var(--maxWidth-wrapper);
	margin: var(--spacing-2) auto;
	margin-top: var(--spacing-8);
}
.blog-row > *:first-child{
	flex-basis:25%;
}
.blog-row > *:last-child{
	flex-basis:75%;
	text-align: left;
	padding-left: 0;
}
.blog-row > *:last-child > *{
	max-width: 80%;
}
.blog-row img{
	max-width: 100%;
	margin: var(--spacing-4) auto;
}
.post-title{
	margin-bottom: var(--spacing-4);
}
@media(max-width: 42rem){
	.blog-row{
		flex-direction: column;
	}
	.blog-row > *:last-child{
		flex-basis: 100%;
		padding-left:0;
		margin-top:var(--spacing-4);
	}
	.blog-row > *:last-child > *{
		max-width: 100%;
	}
}