.film-strip{
  display: block;
  flex-wrap: wrap;
  max-width:var(--maxWidth-wrapper);
  margin:var(--spacing-4) auto;
  margin-bottom: var(--spacing-16);

}
.film-strip.text-column{
  display: flex;
}
.film-spacer{
  width: 150px;
  height: 10vw;
  float:right;
}
.film-strip.text-column *{
  float:none;
}
.film-strip #text-projects{
  display: none;
  position: static;
}
.film-strip.text-column a{
  position: static;
}
.film-strip.text-column .film-item{
  display: none;
}
.projects-page.filmy#layout-toggle{
  position:fixed;
  z-index: 2;
}
.film-strip.text-column{
/*  display: block;*/
   align-items: stretch;
   position: relative;
}
.film-strip #meta-text{
  display: none;
}
.film-strip.text-column #meta-text{
  display: block;
}
.text-item .hover-img, .text-item .hover-text{
  display: none;
}
.text-item:hover .hover-img, .text-item:hover .hover-text{
  display: inline-block;
  position: fixed;
  top: 50%;
  opacity: 1;
}
.film-strip .text-item:hover .hover-img img,.film-strip .text-item:hover .hover-img video{
  width:100%;
}
#film-strip > *{
  display: inline-block;
}
#mini-first{
  float:left;
}
.film-item{
  position:relative;
 display:inline-block;
}
.film-strip .film-item .opacity-title{
  display: none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  text-align:center;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  background: var(--color-text-light);
  flex-direction: column;
  padding: var(--spacing-1);
  color:white;
}
.film-strip .film-item:hover .opacity-title{
  display: flex;
}
.film-strip.text-column .film-spacer{
  display: none;
}
.text-item:hover .hover-text{
  width: calc(45% + var(--spacing-24));
  right:0;
  text-align: center;
}
.film-strip.text-column .mini-overview:last-child{
  width: 33%;
  margin-left:8%;
  text-align: center;
    float:none;
}
.mini-overview:last-child{
  float:right;
}
.film-strip.text-column *:last-child .more-info{
  text-align: center;
}
.film-strip .text-item:hover .hover-img{
  right: 35%;
  top:10%;
  width: 40%;
}
.film-strip .hover-text{
  right:0;
}
.film-strip.text-column #text-projects{
  display: block;
  width: 33%;
  margin-left:5%;
}
.text-item{
  text-decoration: none;
  display: inline-block;
}
.film-strip.text-column .mini-overview{
  height: auto;
}
.filmstrip-wrapper{
  display: flex;
  flex-flow: row nowrap;
  max-width:var(--maxWidth-wrapper);
}

.mini-overview{
  width:calc(20% - var(--spacing-2));
  position:relative;
  height:10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: var(--spacing-1);
}
.mini-overview:last-child{
  width: calc(10% - var(--spacing-2));

}
.more-info{
  position: absolute;
  bottom:0;
  left:0;
}
.film-strip *:last-child .more-info{
  text-align: right;
  width:100%;
}
.mini-overview p{
  margin:0;
}
.film-item{
  width:auto;
  height:10vw;
  margin: var(--spacing-1);
  overflow: hidden;
}
.film-item.square, .film-item.landscape{
  width:auto;
}

.film-item img, .film-item video{
  width:100%;
  height:10vw;
}

@media (max-width: 42rem) {

    .film-item{
      height:auto;
      margin: var(--spacing-1);
    }
    .film-strip{
      justify-content: center;
    }
    .film-item img, .film-item video{
      height:auto;
      width:calc(50vw - var(--spacing-4));
    }
    .film-item.landscape img, .film-item.landscape video,.film-item.square img, .film-item.square video{
      height:auto;
      width:calc(100vw - var(--spacing-4));
    }
    .mini-overview{
      min-height:50vw;
      width:100%;
      margin: var(--spacing-1);
    }
    .mini-overview:last-child{
      width: calc(100% - var(--spacing-2));
      height: auto;
      min-height:5vh;
        float:none;
    }
    .more-info{
      left:auto;
      right:0;
    }
    #image-toggle, #text-toggle{
      display: none;
    }

}