.overlay-title{
  position: relative;
  z-index: 2;
  height:100vh;
  pointer-events: none;
  font-size:10em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  top: -0.5em;
  mix-blend-mode: difference;
  margin:var(--spacing-4) auto;
  max-width:var(--maxWidth-wrapper);
  color:white;
}
.flickity-page-dots, .flickity-button{
  display: none;
}
#homepage-wrapper .global-wrapper{
  margin-top:-60px;
}
#homepage-wrapper .site-header nav li a{
  color:white;
}

#homepage-wrapper .global-wrapper .site-header nav li a{
  color: var(--color-text);
}
#homepage-wrapper .marquee{
  margin-top: var(--spacing-10);
}
@keyframes float {
  0%    { color: var(--color-text); }
  100%  { color: white }
}
@-webkit-keyframes float {
  0%    { color: var(--color-text); }
  100%  { color: white; }
}

.global-wrapper.loading::before{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  content: "AP Studio";
  color:white;
  font-family: var(--font-heading);
  font-size: var(--fontSize-6);
  letter-spacing: -0.05em;
  margin:0;
  line-height: var(--lineHeight-none);
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background: var(--color-text);
  animation: float 0.2s forwards;
  -webkit-animation: float 10s forwards;
}

.carousel{
  background: black;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow-y:hidden;
}
.artists-clients{
  display:flex;
  max-width:var(--maxWidth-wrapper);
  margin:var(--spacing-4) auto;
   margin-bottom: var(--spacing-16);
}
.artists-clients > *{
  flex-basis:50%;
  display: flex;
  align-self: start;
  margin:0;
  position:relative;
}
.artists-clients > * > *{
  flex-basis:50%;
  align-self: start;
  margin:0;
}

/* homepage carousel */
.carousel-slide{
   width:50%;
   height:100vh;
   overflow-y: hidden;
}
.carousel-slide.landscape, .carousel-slide.square{
   width:100%;
}
.carousel-slide .slide-title{
  width:100%;
  position:absolute;
  bottom:var(--spacing-32);
  left:0;
  color:white;
  text-align: center;
  z-index: 1;
}
.carousel-slide img{
  width:100%;
}
.carousel-slide video{
  width:100%;
}