.info-row, .cookie-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--spacing-10);
}
.info-row > h1{
	flex-basis: 50%;
}
.info-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: var(--maxWidth-wrapper);
	margin: var(--spacing-2) auto;
	margin-top: var(--spacing-8);
}

/* Cookie Policy*/

.cookie-row > h1{
	flex-basis: 22%;
}
.cookie-row > p{
	flex-basis: 78%;
}