.info-row, .cookie-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--spacing-10);
}
.info-column{
	display: flex;
	flex-direction: column;
}
#New-York-map.map-wrapper .map-inner{
	margin-top: 0;
}
.info-wrapper > div{
	flex-basis: 50%;
}
.info-row > h1{
	flex-basis: 50%;
}
.info-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: var(--maxWidth-wrapper);
	margin: var(--spacing-2) auto;
	margin-top:0;
}

.maps-wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	width:100%;
}
.maps-wrapper svg{
	height: var(--fontSize-6);
}
.maps-wrapper svg  path{
	fill: var(--color-text);
}
.maps-wrapper svg .invert path{
	fill: transparent;
	stroke: var(--color-text);
	stroke-width: 8px;
}
.maps-wrapper svg.los-angeles .invert path{
	stroke-width: 2px;
}
#New-York-map{
	order:1;
}
#Paris-map{
	order:2;
}
#Los-Angeles-map{
	order:3;
}
.info-wrapper > div:first-child p{
	max-width: 700px;
}
.info-wrapper > div:first-child{
	padding-right:  var(--spacing-8);
}
.info-column:first-child > div:last-child{
	margin-top: var(--spacing-16);
}
.info-column > div > h1{
	margin-bottom: var(--spacing-2);
}
.map-label{
	display: flex;
}
.map-label > div:first-child{
	flex-basis: 55.5%;
}
.map-wrapper{
	width: calc(100% - var(--spacing-2));
	margin-bottom:var(--spacing-4);
	align-self: flex-start;
}
.map-wrapper .map-inner{
	border:2px solid var(--color-text);
	margin:var(--spacing-4) auto;
}
.marker{
	width: 25px;
	height: 25px;
	background: var(--color-text);
	border-radius: 100%;
}
/* Cookie Policy*/
.cookie-row{
	justify-content: flex-start;
}
.cookie-row > h1{
	flex-basis: 25%;
}
.cookie-row > p{
	flex-basis: 53%;
	margin-top: 8px;
}

@media(max-width: 1095px){
	.map-label > div:last-child{
		text-align: right;
		flex-basis: 45.5%;
		width: 45.5%;
	}
	.info-wrapper > div.cookie-row{
		flex-basis: 100%;
	}
}
@media(max-width: 42rem){
	.info-row{
		flex-direction: column;
	}
	.info-wrapper{
		flex-direction: column;
	}
	.map-label > div:last-child{
		text-align: left;
		width:  auto;
	}
	.info-column:first-child > div:last-child{
		margin-top: var(--spacing-8);
	}
	.info-wrapper > div:first-child{
		padding-right: 0;
	}
	.info-wrapper > div{
		flex-basis: auto;
		padding-bottom: var(--spacing-8);
	}
	.map-wrapper{
		    width: calc(100% - var(--spacing-2));
    		margin-bottom: var(--spacing-10);
	}
	.map-wrapper .map-inner{
		margin-left:0;
		width: 100% !important;
		height: 35vh !important;
	}
	.maps-wrapper{
		flex-direction: column;
	}
	.map-label{
		display: block;
	}
	.info-row > *:last-child{
		margin-top:var(--spacing-4);
		font-family: var(--font-body);
	  	font-size: var(--fontSize-1);
	  	font-weight:normal;
	}
}