.project-header, .project-footer{
	display: flex;
	width: 100%;
	justify-content: space-between;
	max-width:var(--maxWidth-wrapper);
	margin:0 auto;
}
.time-toggle.on{
	text-decoration: underline;
}
.time-toggle{
	cursor:pointer;
}
#layout-toggle{
	text-align: right;
	max-width: var(--maxWidth-wrapper);
}
#layout-toggle svg {
	cursor: pointer;
	margin:0 var(--spacing-2);
}
#layout-toggle svg rect, #layout-toggle svg path{
	fill: #111F4F;
}
#layout-toggle svg.on rect, #layout-toggle svg.on path{
	fill: #EB4726;
}
.project-footer a{
	  cursor:pointer;
}
.project-header > *{
	vertical-align: top;
	align-self: start;
	flex-grow: 1;
	flex-basis: 25%;
}
.project-header > *:first-child{
	flex-grow:2;
	flex-basis: 50%;
	padding-right:18%;
}

.project-footer > *{
	vertical-align: top;
	align-self: start;
	flex-grow: 1;
	flex-basis: 50%;
}




.project-media-container{
	display: flex;
	flex-wrap: wrap;
	margin:0 auto;
	justify-content: center;
	max-width:var(--maxWidth-wrapper);
}

.project-media-container.two-column .media-item.portrait{
   width:35%;
}

.project-media-container.two-column .media-item.landscape, .project-media-container.three-column .media-item.landscape, .project-media-container.one-column .media-item.landscape, .project-media-container.one-column .media-item.portrait{
   width:100%;
}
.project-media-container.two-column .media-item.landscape img,  .project-media-container.two-column .media-item.landscape video{
	width: 70%;
}
.project-media-container.three-column .media-item.portrait{
   width:33.333%;
}

.project-media-container.one-column .media-item.landscape{
	margin:var(--spacing-32) auto;
}
.project-media-container.one-column .media-item.landscape img, .project-media-container.one-column .media-item.landscape video{
	width: 70%;
}
.project-media-container.one-column .media-item.portrait img, .project-media-container.one-column .media-item.portrait video{
	width: 50%;
}
.media-item.portrait img, .media-item.portrait video{
	width:calc(100% - var(--spacing-2));
	display: block;
	margin:var(--spacing-1) auto;
}
.media-item.landscape img, .media-item.landscape video{
	width:calc(100% - var(--spacing-2));
	display: block;
	margin:var(--spacing-1) auto;
}