.project-header, .project-footer{
	overflow:hidden;
	width: 100%;
	justify-content: space-between;
	max-width:var(--maxWidth-wrapper);
	margin:var(--spacing-8) auto;
}
.project-header{
	margin:0;
	margin-top: var(--spacing-4);
}
.film-strip #mini-first.projects-page-mini{
	display: none;
}
.film-strip.text-column #mini-first.projects-page-mini{
	opacity: 0;
	display: inline-block;
	pointer-events: none;
}
.project-footer{
   	display: flex;
   }
.notes {
    width: 49%;
    padding-right: 15%;
    float: right;
}
.project-header h1:first-child{
	position: fixed;
	max-width: 60%;
	left:calc((100vw - var(--maxWidth-wrapper) )/2);
}
.project-header #mobile-layout-toggle,.project-header #layout-toggle{
	position: fixed;
	right:calc((100vw - var(--maxWidth-wrapper) )/2);
}
.project-footer{
	margin: var(--spacing-10) auto;
	margin-top:var(--spacing-20);
}
.time-toggle.on{
	text-decoration: underline;
}
.time-toggle{
	cursor:pointer;
}
#layout-toggle{
	text-align: right;
	position: fixed;
	right: calc((100vw - var(--maxWidth-wrapper))/2);
}
#layout-toggle svg {
	cursor: pointer;
	margin:0 var(--spacing-2);
}
#layout-toggle svg rect, #layout-toggle svg path{
	fill: var(--color-text-light);
}
#layout-toggle svg.on rect, #layout-toggle svg.on path{
	fill: var(--color-text);
}
.project-footer a{
	  cursor:pointer;
}
.project-header > *{
	vertical-align: top;
	align-self: start;
	flex-grow: 1;
	flex-basis: 25%;
}
.project-header > *:first-child{
	flex-grow:2;
	flex-basis: 50%;
	padding-right:18%;
	pointer-events: none;
}

.project-footer > *{
	vertical-align: top;
	align-self: start;
	flex-grow: 1;
	flex-basis: 50%;
}




.project-media-container{
	display: flex;
	flex-wrap: wrap;
	margin:var(--spacing-8) auto;
	justify-content: center;
	max-width:var(--maxWidth-wrapper);
	margin-top:var(--spacing-32);
}
.media-item{
	overflow: hidden;
}
.project-media-container.two-column .media-item.portrait{
   width:35%;
   margin-bottom: var(--spacing-2);
}
.project-media-container.three-column .media-item.portrait, .project-media-container.one-column .media-item.portrait{
   margin-bottom: var(--spacing-2);
}

.project-media-container.two-column .media-item.landscape, .project-media-container.three-column .media-item.landscape, .project-media-container.one-column .media-item.landscape, .project-media-container.one-column .media-item.portrait{
   width:100%;
}
.project-media-container.two-column .media-item.landscape img,  .project-media-container.two-column .media-item.landscape video{
	width: 70%;
}
.project-media-container.three-column .media-item.portrait{
   width:33.333%;
}

.project-media-container.one-column .media-item.landscape{
	margin:var(--spacing-32) auto;
}
.project-media-container.one-column .media-item.landscape img, .project-media-container.one-column .media-item.landscape video{
	width: calc(70% - var(--spacing-2));
}
.project-media-container.one-column .media-item.portrait img, .project-media-container.one-column .media-item.portrait video{
	width: 50%;
}
.media-item.portrait img{
	min-height: calc(100%);
}
.media-item.portrait img, .media-item.portrait video{
	width:calc(100% - var(--spacing-2));
	display: block;
	margin:var(--spacing-1) auto;
}
.media-item.portrait img{
	width:calc(100% - var(--spacing-2));
	margin: 0 auto;
}
.media-item.portrait{
	margin-bottom: var(--spacing-1);
}
.media-item.landscape img, .media-item.landscape video{
	width:calc(100% - var(--spacing-2));
	display: block;
	margin:var(--spacing-1) auto;
}
@media (max-width: 42rem) {
	.project-media-container.one-column .media-item.landscape{
      margin: var(--spacing-8) auto;
   }
   .project-header h1:first-child{
   	max-width: calc(100% - 100px);
	}
	.project-header{
		z-index: 2;
		position: relative
	}
   .mini-overview.projects-page-mini{
   	min-height:10vw;
   }
   .project-header, .project-footer{
   	max-width: calc(100% - var(--spacing-4));
   	margin: var(--spacing-2) auto;
   }
   .project-media-container.one-column .media-item.landscape img, .project-media-container.one-column .media-item.landscape video{
   	width: 100%;
   }
   .project-media-container.one-column .media-item.portrait img, .project-media-container.one-column .media-item.portrait video{
   	width: 70%;
   }
   #mobile-layout-toggle{
   	width: 90px;
   	flex-basis:25px;
   }
   .project-header > .notes{
   	 position: relative;
   	 width:100%;
   	 left:0;
   	 margin-top:100px;
   	 padding-right:0;
   }
   .project-header >h1:first-child, .project-header > #mobile-layout-toggle{
   	margin-top:0;
   }

   .project-header > *:first-child{
   	padding-right:0;
   }
   .project-media-container.full-column{
      margin:var(--spacing-8) auto;
      max-width: calc(100% - var(--spacing-2));
   }
   .project-footer{
   	margin-bottom:var(--spacing-8);
   	margin-top:var(--spacing-4);
   }
}